<div class="neighbor-compare">
	<div class="card-header">
		Neighborhood comparison
	</div>
	<div class="card-body">
    <p>
      Your neighborhood:  <ngb-progressbar type="custom" [value]="70"></ngb-progressbar>
     </p>
     <p>
      March:  <ngb-progressbar type="danger" [value]="80"></ngb-progressbar>
    </p>
     <hr>
		<p>
      Your neighborhood:  <ngb-progressbar type="custom" [value]="60"></ngb-progressbar>
     </p>
		<p>
      April:  <ngb-progressbar type="warning" [value]="65"></ngb-progressbar>
     </p>
     <hr>
     <p>
      Your neighborhood:  <ngb-progressbar type="custom" [value]="55"></ngb-progressbar>
     </p>
     <p>
      May:  <ngb-progressbar type="success" [value]="45"></ngb-progressbar>
     </p> 
	</div>
</div>