<div class="wrap p-2">
	<div class="card wide  mid-order-one small-order-four">
		<app-save-compare></app-save-compare>
	</div>
	<div class="card small  mid-order-three small-order-two">
		<app-total-save></app-total-save>
	</div>
	<div class="card small mid-order-two small-order-one">
		<app-user-settings></app-user-settings>
	</div>
	<div class="card mid  mid-order-four small-order-three">
		<app-neighbor-compare></app-neighbor-compare>
	</div>
	<div class="card xwide  mid-order-five small-order-five">
		<app-energy-chart></app-energy-chart>
	</div>
</div>
